//
   Created by user on 12/11/16.
footer
  .row
    .s12.m6.l3
      ul
        li
          a link 1
        li
          a link 1
        li
          a link 1
        li
          a link 1
    .s12.m6.l3
      ul
        li
          a link 1
        li
          a link 1
        li
          a link 1
        li
          a link 1
    .s12.m6.l3
      ul
        li
          a link 1
        li
          a link 1
        li
          a link 1
        li
          a link 1
    .s12.m6.l3
      ul
        li
          a link 1
        li
          a link 1
        li
          a link 1
        li
          a link 1

