header.container
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(ui-sref='root') Shop
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li(ng-class="{ active: $state.is('root')}")
                        a(ui-sref='root') Главная
                    li(ng-class="{ active: $state.is('site.index')}")
                        a(ui-sref='site.products') Товары
                    li(ng-class="{ active: $state.is('site.docs')}")
                        a(ui-sref='site.about') О нас
                    li(ng-class="{ active: $state.is('site.cart')}")
                        a(ui-sref='site.cart') Корзина
                    li
                        a(ui-sref='site.cart', style='padding: 5px 0 0 0; width:150px')
                            ngcart-summary
