//
   Created by user on 12/11/16.
header.container
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(ui-sref='root') Brand
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                form.navbar-form.navbar-left
                    .form-group
                        input.form-control(type='text', placeholder='Search')
                    button.btn.btn-default(type='submit') Submit
                ul.nav.navbar-nav.navbar-right
                    li(ng-class="{ active: $state.is('site.products')}")
                        a(ui-sref='site.products') Товары
                    li(ng-class="{ active: $state.is('site.about')}")
                        a(ui-sref='site.about') О нас
                    li(ng-class="{ active: $state.is('site.cart')}")
                        a(ui-sref='site.cart')
                            ngcart-summary Корзина


