.row.row-fixed
  .aside-container
    nav.aside-nav
      ul
        li Load
        li Load from file
        li(ng-click='changeEditMode()') {{$root.editmode ? 'Edit' : 'View'}}
  button.aside-nav-trigger(type='button', ng-click='asideNavSwitch()', name='button') ---
  input(type='text', name='name', value='')
  button(type='button', name='button') Search
