.row
  .tag(ng-repeat='tag in code.tags') {{tag}}
.row
  .col.s12
    .label Login :
    #log.login(onclick='selectText(\log\)') {{code.login}}
  .col.s12
    .label Password :
    input.password-fake(type='password', value='{{code.password}}', readonly='')
.row
  .data {{code.data}}
