section.row
  nodes-password
  nodes-savefile
  nodes-sign-in(ng-if='$root.activenode == \'nodessignin\'')
  nodes-load-file(ng-if='$root.activenode == \'nodeloadfile\'')
  nodes-view(ng-if='$root.activenode == \'nodesview\'')
  nodes-edit(ng-if='$root.activenode == \'nodeedit\'')
