.col.s12.m12
  article.log-pass-block
    .row
      .col.s12.m3
        .label {{data}}
      .col.s12.m9
        input(type='text', ng-model='file_name')
    .row
      a(href='data:text;charset=utf-8,helloWorld') Your Download
      input(type='button', ng-click='save()')
