.ui.grid
    .four.wide.column
        br
        .ui.menu.vertical
            a.item(href='#') Sort
            a.item(href='#') Sort
            a.item(href='#') Sort
            a.item(href='#') Sort
    .twelve.wide.column
        .ui.four.column.grid
            .four.column.row.wide
                .four.column.wide
                    .ui.fluid.action.input
                        input(type='text', placeholder='Search...')
                        .ui.button Search
            .four.column.row
                .ui.stackable.grid
                    products-product.eight.wide.column(ng-repeat='product in products' product="product")
