div
  h1 Welcome to Products shop
  .row
    .s1(style="text-align:center; border: 1px solid grey;") s1
    .s2(style="text-align:center; border: 1px solid grey;") s2
    .s3(style="text-align:center; border: 1px solid grey;") s3
    .s4(style="text-align:center; border: 1px solid grey;") s4
    .s5(style="text-align:center; border: 1px solid grey;") s5
    .s6(style="text-align:center; border: 1px solid grey;") s6
    .s7(style="text-align:center; border: 1px solid grey;") s7
    .s8(style="text-align:center; border: 1px solid grey;") s8
    .s9(style="text-align:center; border: 1px solid grey;") s9
    .s10(style="text-align:center; border: 1px solid grey;") s10
    .s11(style="text-align:center; border: 1px solid grey;") s11
    .s12(style="text-align:center; border: 1px solid grey;") s12
  .row
    .s6(style="text-align:center; border: 1px solid grey;") s8
    .s6(style="text-align:center; border: 1px solid grey;") s8
    .s3(style="text-align:center; border: 1px solid grey;") s4
    .s9(style="text-align:center; border: 1px solid grey;") s8
  .row
    .m1(style="text-align:center; border: 1px solid grey;") m1
    .m2(style="text-align:center; border: 1px solid grey;") m2
    .m3(style="text-align:center; border: 1px solid grey;") m3
    .m4(style="text-align:center; border: 1px solid grey;") m4
    .m5(style="text-align:center; border: 1px solid grey;") m5
    .m6(style="text-align:center; border: 1px solid grey;") m6
    .m7(style="text-align:center; border: 1px solid grey;") m7
    .m8(style="text-align:center; border: 1px solid grey;") m8
    .m9(style="text-align:center; border: 1px solid grey;") m9
    .m10(style="text-align:center; border: 1px solid grey;") m10
    .m11(style="text-align:center; border: 1px solid grey;") m11
    .m12(style="text-align:center; border: 1px solid grey;") m12

  div(ui-view)