.container

  .row
    .col-sm-3
      .btn-group-vertical
        a.btn.btn-default Products
        a.btn.btn-default Comments
        a.btn.btn-default Products
    .col-sm-9
      .btn.btn-default Refresh
      table.table.table-striped
        thead
          tr
            th #
            th id
            th name
            th price
            th @
        tbody
          tr(ng-repeat='product in products' product="product")
            th {{$index + 1}}
            th {{product._id}}
            th {{product.name}}
            th {{product.price}}
            th
              a.btn.btn-default(ui-sref="admin.datum({datumId: product._id})") Edit
      .btn.btn-default Add