header.container-fluid
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.hidden-md-up(ng-click="toggleSideNav()" href="#menu-toggle" ) Side nav
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li(ng-class="{ active: $state.is('admin.purchases')}")
            a(ui-sref='admin.purchases') Purchases
          li(ng-class="{ active: $state.is('admin.settings')}")
            a(ui-sref='admin.settings') Setting
        ul.nav.navbar-nav.navbar-right
          li(ng-class="{ active: $state.is('admin.tariff')}")
            a(ui-sref='admin.tariff') Tariff
          li(ng-class="{ active: $state.is('logout')}")
            a(href='/logout') Logout