.container
  .col-sm-4
  .row.col-sm-6
  form
    .col-sm-6
      .input-group.form-group
        span.input-group-addon  Image:
        ng-image-load(src='$ctrl.product.imageUrl')
      .input-group.form-group
        span.input-group-addon Name:
        input.form-control(type='text' ng-model='$ctrl.product.price')
      .input-group.form-group
        span.input-group-addon Price:
        input.form-control(type='text' ng-model='$ctrl.product.price')
      .input-group.form-group
        span.input-group-addon Snippet:
        input.form-control(type='text' ng-model='$ctrl.product.snippet')
      .form-group
        a.btn.btn-danger(ng-click='$ctrl.product.remove()') Delete
        a.btn.btn-success(ng-click='$ctrl.product.save()') Save
