.container
  .row
    .col-sm-3
      .sidebar-nav.navbar-default
        .navbar-header
          ul.nav.navbar-nav
            li.active
              a(href='#') Menu Item 1
            li
              a(href='#') Menu Item 2
            li
              a(href='#') Menu Item 3
            li
              a(href='#') Menu Item 4
            li
              a(href='#')
                | Reviews
                span.badge 1,118
    .col-sm-9
      .btn.btn-default Refresh
      table.table.table-striped
        thead
          tr
            th #
            th id
            th name
            th price
            th @
        tbody
          tr(ng-repeat='product in $ctrl.products')
            th {{$index + 1}}
            th {{product._id}}
            th {{product.name}}
            th {{product.price}}
            th
              a.btn.btn-default(ui-sref="admin.product({datumId: product._id})") Edit
      .btn.btn-default Add